/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020-dec-21, 16:57:03
    Author     : Trygve
*/

input.status {
    
    margin-right:3px;
    margin-left:5px;
    
}
table.table-sd-schema {
    margin-bottom:0px;
    margin-right:5px;
    margin-left:5px;
  table-layout: fixed; 
  width: 100%;
  *margin-left: -100px; /*ie7*/    
}
.table-sd-schema>thead>tr>th,
.table-sd-schema>tbody>tr>th,
.table-sd-schema>tfoot>tr>th,
.table-sd-schema>thead>tr>td,
.table-sd-schema>tbody>tr>td,
.table-sd-schema>tfoot>tr>td {
  border: 1px solid white;
  padding: 1px 1px;
  vertical-align: middle;
}
#statusSpan {
    margin-left:1px;
}
th.vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align:center !important;
  /*min-width:15px;*/
}
td, th {
  border-top: 1px solid #ccc;
  padding: 5px !important;
  /*width: 100px;*/
}
.fix {
  position: absolute;
  *position: relative; 
  margin-left: -100px;
  width: 100px;
 
}
.outer {
  position: relative;
  overflow-y: hidden
}
.inner {
  overflow-x: scroll;
  /*overflow-y: scroll;*/
/*  width: 600px; */
  /*max-height:800px;*/
  margin-left: 100px;
}

input {
    background-color:#DDDDDD;
}
form fieldset {
    width:auto;
    max-width:600px;
    display:inline;
    border-width: 1px;
    border-style: groove;
    border-color: #AAAAAA;
    border-image: initial;
    border-radius: 5px;
   padding-top:4px;
   padding-bottom:8px;
   padding-left:20px;
   padding-right:20px;
}
.btn-primary {
    background-color:#ca7300;
    border-color:#ca7300;
}
h1 {
    font-size:2rem;
}
h2 {
    font-size:1.5rem;
}
h3 {
    font-size:1.2rem;
}
table, tr, td {
    border: none;
}
.cbAdd cdRemove{
    margin-left:auto !important;
    margin-right:auto !important;
}
